section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;

    h3 {
        text-align: center;
    }
}

span:not(span.con) {
    color: rgba(0, 94, 255, 0.773);
}