<header class="!bg-blue-800">
    <mat-sidenav-container autosize class="container m-auto">
        <mat-toolbar class="!bg-blue-800 text-resize flex justify-between">
            <button mat-icon-button (click)="sidenav.toggle();"><mat-icon>menu</mat-icon></button>
            <a id="githubRepo" href="https://github.com/rubenalarcongalvez/miscellaneous-features/tree/master/src/app/views/{{router.url}}" mat-icon-button matTooltip="See the code of this section"><i class="pi pi-github"></i></a>
            <span routerLink="/" class="cursor-pointer full-title">Miscellaneous Features</span>
            <span routerLink="/" class="cursor-pointer collapsed-title not-necesary-mobile">Misc.</span>
            @if(activeTab) {
                <span class="not-necesary-mobile">&nbsp;-&nbsp;</span>
            }
            <span class="text-cyan-400 break-words text-wrap capitalize not-necesary-mobile">{{activeTab}}</span>
            <span class="flex-1 not-necesary-mobile"></span>
            <mat-slide-toggle class="not-necesary-mobile" hideIcon matTooltip="Dark mode" [checked]="checkedDarkMode" (change)="toggleDarkScheme()"></mat-slide-toggle>
            <button *ngIf="loggedIn" mat-icon-button matTooltip="Log out" (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
            <button class="not-necesary-mobile" mat-icon-button matTooltip="Fullscreen menu" (click)="sidenavFullscreen = true; sidenav.toggle()">
                <mat-icon>fullscreen</mat-icon>
            </button>
        </mat-toolbar>
    </mat-sidenav-container>
    
    <mat-sidenav #sidenav [mode]="sidenavFullscreen ? 'over' : 'side'" [fixedInViewport]="true" class="p-5 !bg-blue-800 !text-white" [ngClass]="{'sidenavFullscreen': sidenavFullscreen}" [autoFocus]="false">
        @if (sidenavFullscreen) {
            <button mat-icon-button (click)="sidenav.close(); sidenavFullscreen = false" class="!float-end close"><mat-icon>close</mat-icon></button>
        } @else {
            <button mat-icon-button (click)="sidenav.close(); sidenavFullscreen = false" class="!float-end close"><mat-icon>arrow_back_ios</mat-icon></button>
        }
        <ul (click)="sidenav.close(); sidenavFullscreen = false">
            <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="pi pi-home basis-full"></li>
            <li routerLink="/google-facebook-oauth" routerLinkActive="active">Google, Facebook OAuth</li>
            @if (loggedIn) {
                <li routerLink="/firebase-database" routerLinkActive="active">Firebase Database</li>
            }
            <li routerLink="/normalize-strings" routerLinkActive="active">Normalize Strings</li>
            <li routerLink="/basic-accordion" routerLinkActive="active">Basic Accordion</li>
            <li routerLink="/glass-effect" routerLinkActive="active">Glass Effect</li>
            <li routerLink="/transform" routerLinkActive="active">Transform</li>
            <li routerLink="/clamp" routerLinkActive="active">Clamp</li>
            <li routerLink="/text-wrap-balance" routerLinkActive="active">Text wrap balance</li>
            <li routerLink="/embed" routerLinkActive="active">Embed content</li>
            <li routerLink="/input-file" routerLinkActive="active">Input file</li>
            <li routerLink="/viewport" routerLinkActive="active">Viewport</li>
            <li routerLink="/transitions" routerLinkActive="active">Display transitions</li>
            <li routerLink="/blur-message" routerLinkActive="active">Blur message</li>
            <li routerLink="/custom-cursor" routerLinkActive="active">Custom cursor</li>
            <li routerLink="/box-shadow-vs-drop-shadow" routerLinkActive="active">Box shadow vs Drop shadow</li>
            <li routerLink="/download-files" routerLinkActive="active">Download files</li>
            <li routerLink="/field-sizing" routerLinkActive="active">Field sizing</li>
            <li routerLink="/text-with-video-or-image-background" routerLinkActive="active">Text with video/image background</li>
            <li routerLink="/word-break" routerLinkActive="active">Word break</li>
            <li routerLink="/lazy-loading" routerLinkActive="active">Lazy loading</li>
            <li routerLink="/content-to-component" routerLinkActive="active">Content to component</li>
            <li routerLink="/display-animations" routerLinkActive="active">Display animations</li>
            <li routerLink="/export-excel-cancel-petitions" routerLinkActive="active">Export to excel + cancel petitions</li>
        </ul>
    </mat-sidenav>
</header>

  