ul {
    li {
        display: flex;
        text-transform: capitalize;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 1s;
        padding: 1rem;
    
        &:hover {
            color: aqua;
        }
    }
}

li.active {
    color: aqua;
}

li.last {
    order: 999999;
}

.text-resize {
    color: white;
    @media(max-width: 550px) {
        font-size: 16px
    }
    @media(max-width: 400px) {
        font-size: 14px
    }
    @media(max-width: 300px) {
        font-size: 10px
    }
    @media(max-width: 250px) {
        font-size: 8px
    }
}

.sidenavFullscreen {
    width: 100%;

    ul {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(4, 1fr);

        @media(max-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media(max-width: 750px) {
            grid-template-columns: repeat(2, 1fr) !important;
        }
        @media(max-width: 650px) {
            grid-template-columns: repeat(1, 1fr) !important;
        }
        @media(max-width: 450px) {
            display: block;
        }

        li:first-child {
            grid-column-start: 1;
            grid-column-end: end;
        }
    }
}

.full-title {
    @media(max-width: 640px) {
        display: none;
    }
}

.collapsed-title {
    @media(min-width: 640px) {
        display: none;
    }
}

#githubRepo.mat-mdc-icon-button.mat-mdc-button-base {
    padding: 7.5px !important;
}

.not-necesary-mobile {
    @media(max-width: 500px) {
        display: none !important;
    }
}