<h2 class="text-blue-600">This could be really useful to compare strings to make it easier to people to fill for example an autocomplete</h2>

<hr>

<section class="flex gap-1 items-baseline">
    <h3 class="text-blue-700"><span class="text-red-600">Non-normalized</span> string: </h3><p>{{nonNormalizedString}}</p>
</section>

<section class="flex gap-1 items-baseline">
    <h3 class="text-blue-700"><span class="text-green-600">Normalized</span> string: </h3><p>{{normalizedString}}</p>
</section>