<details>
    <summary>Toggle me!</summary>
    <div>
        <h3>Wow, such a toggle!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptatem fugit, atque earum inventore quasi repellendus! Eius id in consequuntur qui, dolores maiores? Voluptatem totam id est, nihil quo sint.</p>
    </div>
</details>
<details name="example">
    <summary>Toggle me! I am associated with the one below</summary>
    <div>
        <h3>Wow, such a cool toggle!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptatem fugit, atque earum inventore quasi repellendus! Eius id in consequuntur qui, dolores maiores? Voluptatem totam id est, nihil quo sint.</p>
    </div>
</details>
<details name="example">
    <summary>Toggle me! I am associated with the one above</summary>
    <div>
        <h3>Wow, such a pretty toggle!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptatem fugit, atque earum inventore quasi repellendus! Eius id in consequuntur qui, dolores maiores? Voluptatem totam id est, nihil quo sint.</p>
    </div>
</details>