<main class="h-[83.5vh] flex justify-center items-center rounded-md">
    <section class="flex items-center justify-center flex-col gap-2 max-w-screen-md">
        <p-button label="Log in or Register" routerLink="google-facebook-oauth"></p-button>
        <h1>Miscellaneous features</h1>
        <p class="leading-5">A comprehensive programming resource website serves as a one-stop hub for developers, ranging from beginners to seasoned professionals with some curiosity to learn more and more. The website is meticulously designed to cater to a wide array of programming needs and interests, offering an extensive range of features and resources.</p>
    </section>
</main>