div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    span {
        font-size: 6rem;
        transition: 1s;
    }
}

span[matTooltip="none"]:hover {}

span[matTooltip="matrix(n,n,n,n,n,n)"]:hover {
    transform: matrix(0.866,0.7,-0.8,0.866,0,0);
}

span[matTooltip="translate(x, y)"]:hover {
    // transform: translate(20px, -10px);
    translate: 20px -10px;
}

span[matTooltip="translateX(x)"]:hover {
    transform: translateX(-20px);
}

span[matTooltip="translateY(y)"]:hover {
    transform: translateY(-20px);
}

span[matTooltip="scale(x, y)"]:hover {
    // transform: scale(2.50, 0.5);
    scale: 2.50 0.5;
}
span[matTooltip="scale(xy)"]:hover {
    // transform: scale(1.50);
    scale: 1.50;
}

span[matTooltip="scaleX(x)"]:hover {
    transform: scaleX(1.50);
}

span[matTooltip="scaleY(y)"]:hover {
    transform: scaleY(1.50);
}

span[matTooltip="rotate(angle)"]:hover {
    // transform: rotate(45deg);
    rotate: 45deg;
}

span[matTooltip="rotateX(angle)"]:hover {
    transform: rotateX(180deg);
}

span[matTooltip="rotateY(angle)"]:hover {
    transform: rotateY(250deg);
}

span[matTooltip="skew(x-angle, y-angle)"]:hover {
    transform: skew(30deg, -50deg);
}

span[matTooltip="skewX(angle)"]:hover {
    transform: skewX(30deg);
}

span[matTooltip="skewY(angle)"]:hover {
    transform: skewY(-50deg);
}

