<div>
    <span title="none">😘</span>
    <span title="matrix(n,n,n,n,n,n)">❤️</span>
    <span title="translate(x, y)">🏠</span>
    <span title="translateX(x)">💞</span>
    <span title="translateY(y)">🙈</span>
    <span title="scale(x, y)">✔️</span>
    <span title="scale(xy)">✔️</span>
    <span title="scaleX(x)">👩‍💻</span>
    <span title="scaleY(y)">✅</span>
    <span title="rotate(angle)">🤣</span>
    <span title="rotateX(angle)">😉</span>
    <span title="rotateY(angle)">😎</span>
    <span title="skew(x-angle, y-angle)">😑</span>
    <span title="skewX(angle)">😶‍🌫️</span>
    <span title="skewY(angle)">😫</span>
</div>
