<div>
    <span matTooltip="none">😘</span>
    <span matTooltip="matrix(n,n,n,n,n,n)">❤️</span>
    <span matTooltip="translate(x, y)">🏠</span>
    <span matTooltip="translateX(x)">💞</span>
    <span matTooltip="translateY(y)">🙈</span>
    <span matTooltip="scale(x, y)">✔️</span>
    <span matTooltip="scale(xy)">✔️</span>
    <span matTooltip="scaleX(x)">👩‍💻</span>
    <span matTooltip="scaleY(y)">✅</span>
    <span matTooltip="rotate(angle)">🤣</span>
    <span matTooltip="rotateX(angle)">😉</span>
    <span matTooltip="rotateY(angle)">😎</span>
    <span matTooltip="skew(x-angle, y-angle)">😑</span>
    <span matTooltip="skewX(angle)">😶‍🌫️</span>
    <span matTooltip="skewY(angle)">😫</span>
</div>
