<header class="bg-blue-800 text-white">
    <ul class="flex justify-evenly list-none min-h-8 flex-wrap">
        <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="pi pi-home basis-full"></li>
        <li routerLink="/payment-wall" routerLinkActive="active" class="last">Payment Wall</li>
        <li routerLink="/normalize-strings" routerLinkActive="active">Normalize Strings</li>
        <li routerLink="/basic-accordion" routerLinkActive="active">Basic Accordion</li>
        <li routerLink="/glass-effect" routerLinkActive="active">Glass Effect</li>
        <li routerLink="/transform" routerLinkActive="active">Transform</li>
    </ul>
</header>
