<header class="bg-blue-800 text-white">
    <ul class="flex justify-evenly list-none min-h-8">
        <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="pi pi-home"></li>
        <li routerLink="/payment-wall" routerLinkActive="active" class="last">Payment Wall</li>
        <li routerLink="/normalize-strings" routerLinkActive="active">Normalize Strings</li>
        <li routerLink="/basic-accordion" routerLinkActive="active">Basic Accordion</li>
    </ul>
</header>
