ul {
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 1s;
        
        &:not(&:first-child) {
            width: 100%;
            min-height: 2rem;
            flex-grow: 1;
        }

        &:first-child {
            padding: 1rem;
        }
    
        &:hover {
            font-weight: bold;
            
            &:not(:first-child) {
                background-color: rgba(0, 0, 255, 0.5);
            }
        }
    }
}

li.active {
    font-weight: bold;
    color: aqua;
}

li.last {
    order: 999999;
}