ul {
    li {
        display: flex;
        text-transform: capitalize;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 1s;
        padding: 1rem;
        
        &:not(&:first-child) {
            flex-grow: 1;
            min-height: 2rem;
        }
    
        &:hover {
            color: aqua;
        }
    }
}

li.active {
    color: aqua;
}

li.last {
    order: 999999;
}