<h1 class="text-center">Wrap the window to see the result</h1>
<br>
<main class="grid place-items-center">
    <div class="h-[200px] bg-black text-white p-5 rounded-md outline-double outline-blue-600">
        <p class="text-center underline">Not balanced</p>
        <h3 class="not-balanced mb-3">Patience, Empathy & Courage, clear marks of the success</h3>
        <hr>
        <p class="text-center underline mt-3">Balanced</p>
        <h3 class="balanced">Patience, Empathy & Courage, clear marks of the success</h3>
    </div>
</main>
