<main class="flex justify-evenly gap-2 flex-wrap">
    <section>
        <img src="assets/evee.png" alt="Evee">
        <!-- It MUST be put as <a>, but we can set the style in css as a button with a[type=button] -->
        <a type="button" class="bg-blue-500 hover:bg-blue-400" download="Evee.png" href="assets/evee.png">Download</a>
    </section>
    <section>
        <img src="assets/gallina.jpg" alt="Chick">
        <a type="button" class="bg-blue-500 hover:bg-blue-400" download="Pio Pio.jpg" href="assets/gallina.jpg">Download</a>
    </section>
    <section>
        <img src="assets/osoPanda.jpg" alt="Panda">
        <a type="button" class="bg-blue-500 hover:bg-blue-400" download="Panda bear.jpg" href="assets/osoPanda.jpg">Download</a>
    </section>
</main>
