<h1 class="text-blue-600">This type of databases does not need a backend. </h1>
<h3>This helps you to have a quick but not that fast or complex Database.</h3>

<br>

<main class="flex flex-col gap-2 justify-center">
    <section>
        <h3 class="text-center w-full text-orange-500">First, you have to create your database <a href="https://firebase.google.com/?hl=es-419">HERE</a></h3>
        <p class="text-center">You can see the code freely and dig into its features. But most important, the methods you need for the database. </p>
    </section>
    <section class="w-full">
        <h1 class="text-center text-blue-600">{{ workInProgress() }}</h1>
    </section>
</main>
