main {
    width: 60%;
    border: 2px solid black;
    border-radius: 5px;
    padding: .5rem;
    margin: 0 auto;

    @media(max-width: 450px) {
        width: 100%;
    }
}

p {
    margin-block: .5rem;
}

input, select, textarea {
    padding: 2.5px;
    min-width: 5rem;
    field-sizing: content;
}

select {
    margin-inline: 2.5px;
}