/* JUST FOR THE VIDEO */
video {
    /* First, we put the video on the back of the text */
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

    /* We set the video to cover all possible (main is the container, so it will cover all of that) */
    object-fit: cover;
}

/* For the text */
h1 {
    /* We format the text to make it bigger and centered */
    font-size: clamp(150px, 100%, 750px);
    text-align: center;
    
    /* JUST FOR THE VIDEO */
    /* We set the background white and set the mix-blend-mode to screen to mix the text with the video */
    background: white;
    mix-blend-mode: screen;
}

/* JUST FOR THE IMAGE */
#text-wallpaper {
    /* We can do the same but with images much more easier */
    background-image: url('../../../assets/blueWallpaper.png');
    background-size: cover;
    background-clip: text;
    color: transparent;
}