<h1>See network in <code>inspect</code> or reload to see it &nbsp;<i class="fa-solid fa-rotate-right text-xl cursor-pointer" title="Reload" (click)="refresh()"></i></h1>
<br>
<main class="flex gap-2 justify-center">
    <section class="flex flex-col gap-2 items-center">
        <h3>Lazy loading</h3>
        <img src="assets/evee.png" loading="lazy">
        <img src="assets/evee - copia.png" loading="eager"> <!-- This one will load instantly, no need to scroll -->
        <img src="assets/evee - copia (2).png" loading="lazy">
        <img src="assets/evee - copia (3).png" loading="lazy">
        <img src="assets/evee - copia (4).png" loading="lazy">
        <img src="assets/evee - copia (5).png" loading="lazy">
        <img src="assets/evee - copia (6).png" loading="lazy">
        <img src="assets/evee - copia (7).png" loading="lazy">
        <img src="assets/evee - copia (8).png" loading="lazy">
        <img src="assets/evee - copia (9).png" loading="lazy">
        <img src="assets/evee - copia (10).png" loading="lazy">
        <img src="assets/evee - copia (11).png" loading="lazy">
        <img src="assets/evee - copia (12).png" loading="lazy">
    </section>
    
    <section class="flex flex-col gap-2 items-center">
        <h3>No lazy loading</h3>
        <img src="assets/evee - copia (13).png">
        <img src="assets/evee - copia (14).png">
        <img src="assets/evee - copia (15).png">
        <img src="assets/evee - copia (16).png">
        <img src="assets/evee - copia (17).png">
        <img src="assets/evee - copia (18).png">
        <img src="assets/evee - copia (19).png">
        <img src="assets/evee - copia (20).png">
        <img src="assets/evee - copia (21).png">
        <img src="assets/evee - copia (22).png">
        <img src="assets/evee - copia (23).png">
        <img src="assets/evee - copia (24).png">
        <img src="assets/evee - copia (25).png">
    </section>
</main>
