table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
h1 {
    font-family: Arial, sans-serif;
    text-align: center;
}
p {
    font-family: Arial, sans-serif;
}
ul li {
    line-height: 1.5rem;
}

:host ::ng-deep {
    input {
        padding: 5px;
        border: 1px solid gray;
        @apply rounded;
    }

    .p-message-wrapper {
        margin-block: 5px;
        padding: .75rem .5rem .5rem .5rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 5px;

        .p-message-detail {
            padding-bottom: 5px;
            flex-grow: 1;
        }

        .p-message-close {
            background-color: transparent;
            color: crimson;
            border: none;
            outline: none;

            svg {
                padding-bottom: 5px;

                &:hover {
                    opacity: 60%;
                }
            }
        }
    }

    .p-dialog-header-close {
        color: black;
        background-color: white;
        margin-right: 5px;
        border: none;
        outline: none;
    }

    .cancel {
        background-color: transparent;
        color: black;
        border: none;
        outline: none;

        &:hover {
            color: rgba(0, 0, 0, 0.8);
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}