/* You can add global styles to this file, and also import other style files */
//Al principio del archivo las importaciones
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    print-color-adjust: exact;
}

html, body { height: 100%; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button, a[type=button] {
    text-decoration: none;
    padding: 5px;
    background-color: blue;
    border-radius: 5px;
    border: 1px solid white;
    outline: 1px solid blue;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: rgb(58, 58, 255);
    }
}
