/* You can add global styles to this file, and also import other style files */
//Al principio del archivo las importaciones
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    print-color-adjust: exact;
}

html, body { height: 100%; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::selection {
    background-color: orangered;
    color: white;
}

button, a[type=button] {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

code {
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/* Custom scrollbar */
/* We can set a custom scrollbar for the main scroll */
html {
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    ::-webkit-scrollbar:window-inactive {
        width: 6px;
    }
    ::-webkit-scrollbar-track-piece {
        background-color: #369;
        background-clip: content-box;
        border-radius: 6px;
        border: solid 4px transparent;
    }
    ::-webkit-scrollbar-track-piece:decrement {
        background: orange;
        background-clip: content-box;
        border: solid 4px transparent;
    }
    ::-webkit-scrollbar-button:horizontal:increment {
        background: transparent url('assets/arrow_right.png') no-repeat center center;
    }
    ::-webkit-scrollbar-thumb  {
        height: 10px;
        width: 4px;
        background-color: #3359d3;
        box-shadow: 0 3px 6px -2px rgba(51,0,51,0.5);
    }
    ::-webkit-scrollbar-corner {
        background: transparent;
    }
    ::-webkit-resizer {
        background: transparent url('assets/expandIcon.png') no-repeat -1px -1px;
    }
    ::-webkit-scrollbar-track-piece:no-button {
        background-color: red;
    }

    /* We can set a custom scrollbar for specific scrolls as body or any divs with overflow */
    body {
        ::-webkit-scrollbar-track {
          border-top: none;
          border-bottom: none;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 6px;
        }
        ::-webkit-scrollbar-button:vertical:start:decrement {
          background: transparent url('assets/arrow_up.png') no-repeat center center;
        }
        ::-webkit-scrollbar-button:vertical:end:decrement {
        background: transparent url('assets/arrow_up.png') no-repeat center center;
        }
        ::-webkit-scrollbar-button:vertical:end:increment {
        background: transparent url('assets/arrow_down.png') no-repeat center center;
        }
        ::-webkit-scrollbar-button:horizontal:decrement {
        background: transparent url('assets/arrow_left.png') no-repeat center center;
        }
    }
}

/* Light and dark scheme */
/* We can also choose to put light dark as a 3rd option to let the system decide */
/* We have commented this because we handle it in the header with the toggle button */
// :root {
//     color-scheme: light dark;
// }

code {
    /*=======================================================================================
    =            There are 2 forms of setting specific styles to specific things            =
    ========================================================================================*/
    /* The newest one (if it does not work, try the traditional one) */
    color: light-dark(white, crimson);

    /* The traditional one (less simplified but more compatible) */
    /* WARNING: It only detects the system color-scheme, not the one in the web */
    /* To do so in the web, we ought to use JavaScript */
    @media (prefers-color-scheme: dark) {
        color: crimson;
    }
    /*=====  Final of There are 2 forms of setting specific styles to specific things  ======*/
}

header {
    color-scheme: only light;
}

footer {
    color-scheme: only dark;
}
