<form [formGroup]="form" class="flex flex-col justify-start items-center gap-3 flex-wrap" (keydown.enter)="addToList()">
    <section class="w-full flex gap-3 flex-wrap items-center">
        <article class="flex justify-start items-center gap-3 flex-wrap">
            <input type="text" pInputText formControlName="user" placeholder="User*">
            <input type="text" pInputText formControlName="name" placeholder="Name*">
            <input type="text" pInputText formControlName="surname1" placeholder="1st Surname*">
            <input type="text" pInputText formControlName="surname2" placeholder="2nd Surname">
            <p-inputNumber inputId="integeronly"
            matTooltip="Children"
            formControlName="numberOfChildren"
            min="0" max="99" 
            buttonLayout="vertical" 
            incrementButtonIcon="pi pi-plus" 
            decrementButtonIcon="pi pi-minus"
            [showButtons]="true" />
        </article>
        <p-button icon="pi pi-send" label="Add" styleClass="flex gap-2" (onClick)="addToList()"></p-button>
    </section>
    <section class="flex justify-start items-center gap-3 flex-wrap w-full">
        <textarea class="min-h-20 w-full rounded p-2" type="text" formControlName="description" placeholder="Description"></textarea>
    </section>
</form>

<hr class="my-5">

<span>I set a delay of 3 seconds to show how this works, but this is not necessary</span>
<div class="flex gap-2 items-center">
    <p-button [disabled]="loadingExcel" icon="pi pi-file-excel" label="Export to Excel" severity="success" styleClass="flex gap-2" (onClick)="exportExcel()"></p-button>
    @if (loadingExcel) {
        <mat-progress-spinner mode="indeterminate" color="primary" diameter="25"></mat-progress-spinner>
        <i class="pi pi-minus-circle text-red-600 cursor-pointer" matTooltip="Cancel" (click)="cancelPetitionExcel()"></i>
    }
</div>

<br>

<p-table [value]="dataToExport" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>User</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Children</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-i="rowIndex">
        <tr>
            <td>{{ user.user }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname.first + ' ' + user.surname?.second }}</td>
            <td>{{ user.numberOfChildren }}</td>
            <td><p-button icon="pi pi-delete" label="Delete" severity="contrast" (onClick)="removeFromList(i)"></p-button></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No users found</td>
        </tr>
    </ng-template>
</p-table>