<footer class="text-center bg-black text-white flex gap-2 justify-evenly p-2">
  <h4 class="font-normal flex gap-2">
    <i class="pi pi-github"></i>
    Github:
    <a
      class="visited:text-orange-500 hover:text-orange-400"
      href="https://github.com/rubenalarcongalvez"
      >{{ "@rubenalarcongalvez" }}</a
    >
  </h4>
  <h4 class="font-normal flex gap-2">
    <i class="pi pi-linkedin text-blue-500"></i>
    LinkedIn:
    <a
      class="visited:text-orange-500 hover:text-orange-400"
      href="https://www.linkedin.com/in/ruben-alarcon-galvez/"
      >{{ "Rubén Alarcón Gálvez" }}</a
    >
  </h4>
</footer>
